/catalano.Math/build/
/catalano.Core/build/
/catalano.Image/build/
/catalano.Statistics/build/
*.class
*.jar
*.png
/catalano.Core/dist/
/catalano.Math/dist/
/catalano.Statistics/dist/
/catalano.Image/dist/
/catalano.MachineLearning/build/
/catalano.Signal/build/
/catalano.MachineLearning/dist/
/catalano.Fuzzy/build/
/catalano.Fuzzy/dist/
/catalano.Video/build/
/catalano.Video/dist/
/catalano.Vision/build/
/catalano.Vision/dist/
/catalano.Neuro/build/
/catalano.Neuro/dist/
/catalano.IO/build/
/catalano.IO/dist/
/catalano.Android.Image/bin/
/catalano.Android.Image/gen/
/catalano.Android.Image/libs/
/catalano.Graph/build/
/catalano.Graph/dist/
/catalano.Signal/dist/
/catalano.NLP/nbproject/private/
/catalano.NLP/build/
catalano.Android.Image/bin/jarlist.cache
catalano.Android.Image/bin/jarlist.cache
catalano.Android.Image/bin/jarlist.cache
catalano.Android.Image/bin/jarlist.cache
/catalano.Genetic/nbproject/private/
/catalano.Genetic/build/
/catalano.Genetic/dist/
/catalano.Evolutionary/nbproject/private/
/catalano.Evolutionary/build/
/catalano.Evolutionary/dist/
/target/
